/*
using this as temporary css to see work

*/


h1{
    font-size:75px;
    font-weight: bold;
    color: #F5F749;
}

h2{
    color:#F6F5AE ;
}


body {
    margin: 0;
    padding: 0;
    background-color: #2E86AB;
    color: #1d1c1c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}


.category-column{
    display: flex;
    flex-direction: column;
    text-align:center;
}
 
.card {
    width: 300px;
    height:200px; 
    border-radius: 20px;
    background-color:#F4EDED;
    color: #110e0e;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-weight: bold ;
    
}

.correct-answer{
    background-color: rgb(200, 251, 207);
}

.wrong-answer {
    background-color: #F24236;
}

.true-button {
    background-color: #d7cfef;
}

.false-button {
    background-color: #6ea7f7;
}

#game {
    display: flex;
}
