/*
using this as temporary css to see work

*/


h1{
    font-size:xx-large;
    font-weight: bold;
    color: rgb(231, 231, 60);
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 146, 226);
    color: rgb(246, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}


.category-column{
    display: flex;
    flex-direction: column;
    text-align:center;
}
 
.card {
    width: 300px;
    height:200px; 
    border-radius: 20px;
    background-color: rgb(231, 224, 215);
    color: rgb(3, 14, 91);
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-weight: bold ;
    
}

.correct-answer{
    background-color: rgb(163, 173, 236);
}

#game {
    display: flex;
}